/**
 * @Author: Andrea F. Daniele <afdaniele>
 * @Email:  afdaniele@ttic.edu
 */

.container{
    width: 1000px !important;
    padding: 0;
}

bold{
    font-weight: bold;
}

legend{
    border-bottom: 1px solid lightgrey;
}

footer #avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border: 1px solid black;
}

.formatted-avatar,
.formatted-avatar-small{
    border-radius: 50%;
    width: 60px;
    border: 1px solid lightgrey;
}

.formatted-avatar-small{
    width: 30px;
    margin-top: -2px;
}

#profile_page_avatar #avatar{
    border-radius: 50%;
    width: 96px;
    border: 1px solid darkgrey;
}

.rotated90cw{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotated90ccw{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pointer-hand:hover{
    cursor: default;
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.page-title-static,
.page-title{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 32px;
    margin-top: 0;
}

select.form-control{
  padding: 0 4px;
}

/*
TODO: Duckietown specific stuff, move to duckietown package

#duckiebot_general_info td{
    padding: 3px 0;
}

.duckiebot_storage_info td{
    padding: 2px 0;
}

.configuration-indicator a{
    color: white;
    border-radius: 4px;
}

.configuration-indicator a .badge{
    background-color: white;
}

.configuration-indicator a.color-default{
    color: darkgrey;
}

.configuration-indicator a.color-default .badge{
    color: darkgrey;
}

.configuration-indicator a.color-primary .badge{
    color: #337ab7;
}

.configuration-indicator a.color-success .badge{
    color: #5cb85c;
}

.configuration-indicator a.color-info .badge{
    color: #5bc0de;
}

.configuration-indicator a.color-warning .badge{
    color: #f0ad4e;
}

.configuration-indicator a.color-danger .badge{
    color: #d9534f;
} */


/* Bootstrap-like Colors */

.color-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.color-primary {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.color-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}

.color-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}

.color-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}

.color-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}





.star {
    width:14px;
    height:14px;
    margin-left:16px;
}

.gold_star {
    background:url(../images/gold_star.gif) no-repeat;
}

.offline .star{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.star_1_3 {
    background:url(../images/star_1_3.gif) no-repeat;
}

.star_2_3 {
    background:url(../images/star_2_3.gif) no-repeat;
}

.gray_star {
    background:url(../images/gray_star.gif) no-repeat;
}

.gray_star_hover:hover {
    background:url(../images/gold_star.gif) no-repeat;
}


.no-hover:hover{
    cursor: default !important;
}

.text-underline{
    text-decoration: underline;
}

.text-underline-on-hover{
    text-decoration: remove-all;
}
.text-underline-on-hover:hover{
    text-decoration: underline;
}

.ingredient_add_note{
    font-size:10px;
    color:darkgreen;
    margin:0;
}

.ingredient_rem_note{
    font-size:10px;
    color:darkred;
    margin:0;
}

.cursor-pointer{
    cursor: pointer;
}

.focus-on-hover{
    color: inherit;
}

.focus-on-hover:hover{
    color: #5bc0de;
}


/*TODO: Admin CSS starts here*/

body{
    background-color: #F7F7F6;
}

.login{
    padding-top: 25px;
}

.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#loginLogo{
    max-width: 250px;
    max-height: 32px;
    float: right;
}

#navbarLogo{
    max-width: 150px;
    max-height: 60px;
}

.badge-text{
    height:20px;
    font-size:14px;
    background-color:#96d5ff;
    text-align:right;
    padding-right:14px;
}

.dashboard-chart-body{
    padding: 6px;
    padding-right:12px;
}

.dashboard-chart-body:hover{
    background-color: rgba(255,248,220,0.4);
}

.table-rounded{
    border-collapse: separate;
}

.table-rounded thead:first-child tr:first-child > th:first-child{
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-rounded thead:first-child tr:first-child > th:last-child{
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-rounded tbody tr:last-child > td:first-child{
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.table-rounded tbody tr:last-child > td:last-child{
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.gray-table td,
.gray-table th{
    border: 1px solid #d3d3d3;
}

.table-text-centered td,
.table-text-centered th{
    text-align: center;
}

.mono,
.param{
    font-family: monospace;
}

.emph,
.param{
    font-style: oblique;
}

.on,
.param{
    color: forestgreen;
}

.off{
    color: orangered;
}

a.anchor{
    display: block;
    position: relative;
    top: -70px; /* header height + offset */
    visibility: hidden;
}

.api-reply-container,
.api-url-container{
    width: 620px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #f3f3f3;
    padding: 8px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.api-reply-container p,
.api-url-container p{
    margin: 0;
    display: inline-block;
    white-space: nowrap;
}

.return-type-text{
    color: #8b8b8b;
}

.default-cursor-on-hover:hover{
    cursor: default;
}

.navbar-inverse .navbar-nav>.active>a{
    background-image: -webkit-linear-gradient(top, #f4f2f2 0, #f7f7f7 100%);
    background-image:-o-linear-gradient(top,#f4f2f2 0,#f7f7f7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f2f2', endColorstr='#fff7f7f7', GradientType=0);
    color: #000000;
}

.navbar-inverse .navbar-nav>.active>a:hover{
    color: #000000;
}

.navbar-inverse .navbar-nav>li>a{
    color: #d2d2d2;
}

.navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

.login-button {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 50px;
  border-width: 0;
  background: white;
  white-space: nowrap;
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.14);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  display: inline-flex;
  margin-bottom: 15px;
}

.login-button-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.login-button-icon img{
  max-width: 28px;
  max-height: 28px;
  margin: 12px;
}

.login-button-text {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .21px;
  vertical-align: top;
  color: #757575;
  line-height: 24px;
}

input[type=color] {
    padding: 2px;
}

input[type=color]:hover {
    cursor: pointer;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}