<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteRule ^(system)/(.*)$ /index.php [L,R]

    RewriteRule ^web-api/(.+)/(.+)/(.+)/(.+)$ /web-api/index.php?__apiversion__=$1&__service__=$2&__action__=$3&__format__=$4 [QSA,NC,L]
    RewriteRule ^web-api/(.+)/(.+)/(.+)$ /web-api/index.php?__error__=1 [QSA,NC,L]
    RewriteRule ^web-api/(.+)/(.+)$ /web-api/index.php?__error__=1 [QSA,NC,L]
    RewriteRule ^web-api/(.+)/$ /web-api/index.php?__error__=1 [QSA,NC,L]

    RewriteRule ^image.php$ /scripts/image.php [QSA,NC,L]
    RewriteRule ^css.php$ /scripts/css.php [QSA,NC,L]
    RewriteRule ^js.php$ /scripts/js.php [QSA,NC,L]
    RewriteRule ^script.php$ /scripts/script.php [QSA,NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?__arg__=$1 [QSA,NC,L]

</IfModule>
