# Ignore everything
**

# Allow files and directories
!assets
!assets.devel
!public_html
!dependencies-apt.txt
!configure.py
!VERSION
!.git/refs/heads/
!.git/refs/tags/

# exclude packages (but core)
public_html/system/packages
!public_html/system/packages/core
public_html/system/user-data
