# Ignore everything
**

# Allow files and directories
!assets
!assets.devel
!public_html
!configure.py
!VERSION
!.git

# exclude packages (but core)
public_html/system/packages
!public_html/system/packages/core
public_html/system/packages/core/configuration/configuration.json
public_html/system/packages/*/data/private
