<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="font-family:sans-serif; text-align:center; color:#2e2e2e; background-color:#edfafa">

<table style="width:600px; margin:auto">
    <tr>
        <td colspan="2" style="height:30px"></td>
    </tr>
    <tr>
        <td style="text-align:left">
            <strong style="font-size:18pt">
                #{sitename}#
            </strong>
        </td>
        <td style="text-align:right; font-size:10pt; padding-bottom:0; vertical-align:bottom">
            <strong>#{companyname}#</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:8px"></td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:11pt">

            <div style="border:1px solid #d5e1e1; padding:40px 45px; border-radius:5px; background-color:#ffffff">

                <h2 style="text-align:left; font-size:18pt">#{title}#</h2>

                <div style="text-align:justify">#{message}#</div>

                <div style="display:table; clear:both; width:100%;">
                    <p style="margin-top:30px; width:150px; height:20px; background-image:linear-gradient(to bottom, #6CDDFF 0%, #1992B6 100%); border-radius:3px; border:1px solid #d8d8d8; float:right">
                        <a href="#{sitelink}#" style="text-decoration:none; color:#ffffff; font-family:monospace; font-size:7pt; padding:3px 20px; font-weight:bold">Go to the website!</a>
                    </p>
                </div>

                <br>

                <table style="margin:auto">
                    <tr>
                        <td style="padding:0 40px">
                            <span style="text-align:center; float:left">
                                #{location}#<br/>#{date}#
                            </span>
                        </td>
                        <td style="width:100px"></td>
                        <td style="padding:0 40px">
                            <span style="text-align:center; float:right">
                                <span style="float:right; font-style:italic; font-family:cursive; font-size:11pt">#{sitename}#</span>
                            </span>
                        </td>
                    </tr>
                </table>

            </div>

        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:4px">
            <div style="text-align:center; font-size:10pt; color:#60666d">#{company}#</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:30px"></td>
    </tr>
</table>

</body>
</html>
